    .embed-pdf-wrapper {
        position: relative;
        padding-top: 56.25%;
    }

    .embed-pdf-widget {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }